@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* header part */
.headsec{
    width: 100%;
    height: 100vh;
    background-image: url(images/main.jpg) ;
    background-size: cover;
    background-position: center;
    background
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 40px;
}
nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-shadow: 2px 2px 5px black;
    font-weight: 800;


}

nav a:hover{
    color: black;
   transition: .3s;
   

}


header img{
    width: 150px;
}

/* welcome text in the middle of the first page */
.welcome_text{
    text-align: center;
    width: 40%;
    margin: 200px auto;
    
}


.welcome_text h1{
    letter-spacing: 5px;
    font-size: 70px;
    margin-bottom: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 5px 5px 10px black;
    
}

.welcome_text h3{
    font-size: 25px;
    margin-bottom: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 5px 5px 10px black;
    letter-spacing: 1px;
}

/* section 2 */


.section2{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.leftside{
    width: 550px;
    padding-right: 40px;
    margin-right: 100px;
    height: 50%;
}

.leftside h5{
    font-size: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

.leftside h1{
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 900;
    border-bottom: 3px solid white;
}

.leftside p{
   font-size: 18px;
}

.leftside p span{
    border-bottom: 1px solid red;
 }

 /* section3 */

 .battle{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 70%
    ),
    url('/images/sec-2.jpg');
    background-size: cover;
    background-position: center;
 }

 .title{
    color: white;
    text-align: center;
    margin-top: 100px;
 }
 .title h3{
    color: white;
    font-size: 25px;
    
 }

 .title h1{
    color: white;
    font-size: 70px;
    letter-spacing: 2px;
    
 }
.boxes{
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 5px;
}

.boxes h5{
    font-size: 20px;
    color: crimson;
}

.boxes p{
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 10px black;

}


.boxes .box:nth-child(5){
    grid-column:1/3;

}


.box{
    border: 1px solid rgba(128, 128, 128, 0.418); 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    line-height: 20px;
    justify-content: center;
    
}


/* section 4  last part opinions part*/

.opinions{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.opinions .leftside2{
    max-width: 400px;
}

.opinions .leftside2 h5{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

.opinions .leftside2 h1{
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 30px;
}

.opinions .leftside2 p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}

.opinions .leftside2 button{
    background-color: red;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;


}
.opinions .leftside2 a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.opinions .rightside{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 50px;
    
}
.opinions .rightside .commentcard{
    width: 400px;
    background-color: rgba(128, 128, 128, 0.648);
    border-radius: 5px;
    margin-bottom: 40px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 10px;
        
}

.commentcard2{
    align-self: flex-start;
}

.top{
    display: flex;
    gap: 0px 20px;
}

.info p {
 margin-top: 5px;
}

.commentcard .comment{
    margin: 10px 0px;
}

.commentcard p:first-child{
    color: crimson;
    font-weight: 900;
    font-size: 20px;
}

.commentcard p:last-child{
    color: rgb(128, 128, 128);
}